:root {
  --peach: #ffe6e6;
  --pink: #e1afd1;
  --lightPurple: #ad88c6;
  --darkPurple: #7469b6;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
