:root {
  --one: #8b84b2;
  --two: #dfdef0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: var(--one);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
  font-family: "Madimi One", sans-serif;
  /* background-color: var(--one); */
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  /* color: white; */
}

.contenr {
  border: 2px solid white;
  width: 50%;
  height: auto;
  /* background-color: var(--two); */
  background-image: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1),
      transparent,
      rgba(0, 0, 0, 0.04),
      rgba(0, 0, 0, 0.04),
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.05),
      transparent,
      rgba(0, 0, 0, 0.04),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.03) 3px
    ),
    linear-gradient(0deg, rgb(85, 159, 230), rgb(230, 105, 196));
  border-radius: 25px;
}

.input-title {
  font-family: "Madimi One", sans-serif;
  width: 250px;
  height: 35px;
  border-radius: 15px;
  margin: 10px;
  border: 2px #818cf8 solid;
  /* outline: none; */
}

.btn-add {
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #a29bfe;
  margin-left: 5px;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  margin-left: 30px;
}

.detels {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

#delete-img,
#edit-img,
#save-img {
  width: 30px;
}
